
.flower{

width: 20%;
visibility: hidden;

}
.city {

    overflow: auto;
    float: left;
    margin-left: 16%;
    margin-top: -8%;
    padding: 10px;
    max-width: 349px;
    display: inline-block;
    position: relative;
    font-family: 'Dosis',sans-serif;
font-weight: bold;
  }

#gallery{
margin-top: -7%;
max-width: 40cm;
}


#gallery img{
max-width: 200px;
max-height: 120px;
margin-left: 20px;
}

.text p{
margin-top: -70px;
}


.text {
float: left;
max-width: 550px;
margin: 10px;
padding: 10px;
display: inline-block;
}


#mohito{

width: 20%;
visibility: hidden;

}

#mohito2 {
width: 20%;
top: 0%;
visibility: hidden;

}

.horario{
display: inline-block;
}



table, td{
margin-left: 73px;
border-bottom: 1px solid #000;
font-size: 20px;
position: relative;
padding-bottom: 10px;
margin-top: -100px;



}

ul.location ul{
display: inline-block;
float: left;
}


ul.contacts {
display: inline-block;

}

.back4 > img {
position: absolute;
width: 20%;
top:59%;
}

#mufin{
position: absolute;
left: 50%;
top: 50px;
width: 9%;
visibility: hidden;
}

#milkshake{

visibility: hidden;


}
.back4 .content > div:first-of-type, .back3 .content > div:nth-of-type(3) {
margin-left: 21.5%;
margin-right: 20px;
}
.back4 .content > div {
margin-bottom: 5%;
width: 30%;
display: inline-block;
font-family: 'Dosis',sans-serif;
font-weight: bold;
}






    

.right-side li p{
text-decoration: none;
margin-bottom: 30px;
margin-right: 20px;

}


.right-side{
padding-bottom: 30px;
margin-right: 20px;

}
.right-side li{


}

.right-side img{
margin-right: 20px;
text-decoration: none;
}

.right-side img {
margin-right: 20px;
text-decoration: none;
}



h4{
font-family: DancingScript;
font-size: 29px;
/* display: inline-block; */
text-transform: none;
}




.containt{
max-width: 1300px;
margin:0 auto;
}

.worktime {

  
    max-width: 800px;
    float: right
}

.aside{
  max-width: 396px;
float: left; 

}
.contacst li:nth-child(3){
  margin-right: 200px;
}
.contacst li{

display: inline-block;


}
.contacst  img{
  float: left;
}
.contacst{
        margin-top: -81px;
    margin-left: 103px;
}
.contacst p{
  float: right;
  margin-left: 14px;

}

.menu1{
max-width: 792px;
}



.s{
float: left;

}
.s img{
width: 10%;



}

.content1{
margin-left: -19%;
}

#listMenu{
     margin-top: -129px;
float: left;
  
    width: 100%;
    display: flex;
  
}

.mainMenu{
max-width: 1050px;
margin: 0 auto;

}


#menulist{
 margin-top: -32%;
    padding: 0;
}
.menuitem {

    list-style-type: none;
    margin: 4px;
    padding: 2px;
}
@media screen and (min-width: 480px) {
    .welcome >  {width: 200px; float: left;
    }
  }


@media screen and (max-width: 890px){
  #menulist{
      margin-left: 16px;
    border-bottom: none;
    width: 89%;
    font-size: 20px;
    position: relative;
    padding-bottom: 0px;
    margin-top: 15%;
    font-weight: 700;
}
}

@media screen and (max-width: 480px){
  #menulist{
      margin-left: 16px;
    border-bottom: none;
    width: 89%;
    font-size: 20px;
    position: relative;
    padding-bottom: 0px;
    margin-top: 39%;
    font-weight: 700;
}
}
@media screen and (max-width: 640px){
#listMenu {



    margin-left: -29px;
    float: left;
    font-size: 18px;
    display: block;
}




}

@media only screen and (max-width:890px){
  .newspaper  {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */

-moz-column-count: 1; /* Firefox */
column-count: 1;
-webkit-column-gap: 67px; /* Chrome, Safari, Opera */
-moz-column-gap: 67px;/* Firefox */
column-gap: 67px;;
overflow: auto;


  }

}
@media only screen and (max-width:890px){
  .newspaper1{
     -webkit-column-count: 1; /* Chrome, Safari, Opera */

-moz-column-count: 1; /* Firefox */
column-count: 1;
-webkit-column-gap: 67px; /* Chrome, Safari, Opera */
-moz-column-gap: 67px; /* Firefox */
column-gap: 67px;;
overflow: auto;

}

  }




